@model IEnumerable<EFarmingProject.Models.Tbl_BuyerProfile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active">Users</li>
    </ol>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table table-striped table-responsive table-bordered table-responsive-lg table-responsive-md table-responsive-sm table-responsive-xl">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BId)
        </th>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BEmailId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.BImage)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BId)

            </td>
            <td>
                @Html.ActionLink(item.BFirstName + " " + item.BLastName, "Details", new { id = item.BId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BEmailId)
            </td>

            <td>
                @*@Html.DisplayFor(modelItem => item.BImage)*@
                <img src="@Url.Content(item.BImage)" width="50px;" height="70px;" />
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.BId }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.BId })
            </td>

        </tr>
    }

</table>
