@model IPagedList<EFarmingProject.Models.Tbl_SellerProduct>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_BuyerLayout.cshtml";
}
@using PagedList;
@using PagedList.Mvc;

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Our Products <small>trends products</small></h2>
                </div>
            </div>
        </div>

        <div class="row product-container">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6 col-lg-3" style="margin-bottom:8px;">
                    <div class="thumbnail product-item" style="height:50%">
                        @*<img src="~/ProductImg/@item.ProductImage" class="img-responsive"
                            style="cursor:pointer;height:160px;width:100px" />*@
                        <div class="img-responsive">
                            <img src="@Url.Content(item.SProductImage)" width="100%" ; height="250px;                 />
                        </div>

                        <div class="caption">
                            @*<h5 class="card-title">@item.ProductTitle</h5>*@
                            <div>
                                <h5 class="card-title">@item.Tbl_Category.CategoryName</h5>
                                <h5 style="float:right" class="card-title">
                                    @Html.ActionLink("Details", "Details", "BuyerProduct", new { id = item.SProductId }, new { @class = "btn btn-primary" })
                                </h5>
                            </div>
                            <p>@item.Tbl_BuyerProfile.Tbl_District.DistrictType</p>
                            @if (item.SQuantity > 0)
                            {
                                <p>Available</p>
                            }
                            else
                            {
                                <p>Not Available</p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</div>

@Html.PagedListPager(Model, i => Url.Action("Index", "Home", new { i, search = Request.QueryString["search"] }))



